default:
    suites:
        default:
        # formatter:
        #   parameters:
        #     language:               en
            contexts:
            - App\Tests\Behat\ApiContext
            - App\Tests\Behat\SymfonyMailerContext
            - App\Tests\Behat\DoctrineContext
            - App\Tests\Behat\DemoContext
            - Behatch\Context\JsonContext
            - Behatch\Context\DebugContext
        
    extensions:	
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                environment: test
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~
