{#<div id="appli_ad">#}
{#	<a href="http://onelink.to/tf4zev" target="_blank" title="Télécharger l'application">#}
{#		<img src="{{asset('images/appli_ad.jpg')}}" alt="Télécharger l'application">#}
{#	</a>#}
{#	<div id="close_app_ad">#}
{#		<i class="fa fa-times-circle"></i>#}
{#	</div>#}

{#	#}{##}
{#</div>#}
