<h3>Hello {{manager.firstName}}</h3>
<p>Tu as voulu créé un nouveau compte pour {{user.firstName}} {{user.lastname}}.
	<br>
	Mais ce compte existe déjà ! C'est vraiment très mal...
</p>

<p>Merci de vérifier que tout s'est passé comme prévu.<p>

<p> Bisous,</p>

<p>France</p>
{# Makes an absolute URL to the file #}
<img src="{{ absolute_url(asset('images/image01.jpg')) }}">