
<p>Bonjour,</p>
<p>Des places supplémentaires ont été ouvertes pour l’événement {{event.type.fullName}} à {{event.place.city}} le {{event.date|localizeddate('full', 'none', 'fr', "Europe/Paris", 'EEEE d MMMM YYYY')|capitalize}}.</p>
<p>Des créneaux horaires de visite sont désormais disponibles.<p>
<p>Nous vous invitons à vous connecter à votre espace candidat <a href="{{host}}/auth/login">ici</a> et à choisir un créneau horaire.</p>
<p>Vous recevrez ensuite par mail votre invitation personnelle à présenter à l’accueil de l’événement.</p>
<p>Excellente journée,</p>
<p>Cordialement,</p>
