<p>
    Bonjour,
</p>
<p>
    Comme vous le savez, le salon « 24 Heures pour l'Emploi et la Formation » de {{participation.event.getPlace}} arrive à grand pas.
</p>
<p>
    Afin de communiquer si vous le souhaitez sur votre présence lors de ce salon grand public, je vous renvoie en PJ, plusieurs visuels web adaptés à des publications sur vos réseaux sociaux et autre support web.
</p>
<p>
    Je vous souhaite une bonne journée,
</p>
<p>Cordialement,</p>
{% include 'emails/signature.html.twig' %}