{% extends 'admin_base.html.twig' %}

{% block title %}Edit BilanFileType{% endblock %}

{% block content %}
	<div class="container">
    <h1>Edit BilanFileType</h1>

    {{ include('bilan_file_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bilan_file_type_index') }}">back to list</a>

    {{ include('bilan_file_type/_delete_form.html.twig') }}
{% endblock %}
