{% extends 'admin_base.html.twig' %}

{% block content %}
    	<div class="container">
        <h1> Mes événements </h1>
    	
    	{% if events and events|length %}
    		<table class="table table-striped" id="event_list">
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{{ path('candidates_list', {'id': event.id}) }}">
                                {{event}}
                            </a>
                              
                             {% set text = event.place.city ~ ' le ' ~ event.date|date('d/m/Y') ~ ' - ' ~ event.getFullType() %}
    		        		<p class="event_title">
    		        			{{text}}
    		        		</p>                              
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>		
		<div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>
	    {% else %}
	    	<p>
	    		Vous n'avez pas d'événement à venir.
	    	</p>	   
        {% endif %}
    	
    	
    	
{% endblock %}
