<form method="post" action="{{ path('joblink_remove_from_event', {'id': joblink.id, 'event_id': event.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce joblink?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joblink.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>