<p class="custom-dump">
	{{error|raw}}<br>
	<span class="custom-dump-white">in</span>
	<span class="custom-dump-green"> "{{exception.file}}"</span> <br>
	<span class="custom-dump-white">line </span>
	<span class="custom-dump-green">{{exception.line}}</span>
</p>